# Authentication settings
auth-service: ptc
username: [Leccaree11, Leccare12, Leccare13]
password: [pokemongo]

# Database settings
db-type: mysql
db-host: myfastvpn.ddns.net
db-name: pokemongomapdb
db-user: user
db-pass: pokepg
#db-port:               # default 3306

# Search settings
#location: madonna alta V cortonese MM perugia
#no-gyms:               # disables gym scanning (default false)
#no-pokemon:            # disables pokemon scanning (default false)
#no-pokestops:          # disables pokestop scanning (default false)
scan-delay: 10
#step-limit:   

# Misc
gmaps-key: AIzaSyCyyuSFrKoa8_1qhpcsHvUCi3zLbzlDp34
#proxy:                 # Proxy URL e.g. socks5://127.0.0.1:9050
#webhook:               # webhook URL (including http://)
#webhook-updates-only:               # only send updates to webhooks, (excludes gyms & non-lured pokéstops)

# Webserver settings
#host: 0.0.0.0
#port: 5010
#locale:                # pokemon translation
#ssl-certificate:       # path to ssl certificate
#ssl-privatekey:        # path to ssl private key

#Uncomment a line when you want to change its default value (Remove # at the beginning)
#username, password, location and gmaps-key are required
